@import "foundation/settings";
@import "foundation";

/*
Site Header
*/

.site-header {
	margin: 0 0 40px 0;
	padding: 40px 0;
	background: #074e68;
	a {
		color: #fff;
		&:hover {
			color: #ccc
		}
	}
	.site-description {
		color: #ccc
	}
}

/*
Off-canvas sidebar
*/

.off-canvas-list ul {
	list-style-type: none;
	margin: 0;
	border-left: 10px solid #000
}
.off-canvas-widget abbr {
	color: #777
}

/*
Site Footer
*/

.site-footer {
	margin-top: 40px;
	padding: 40px 0;
	color: #999;
	background: #085a78;
	h4 {
		color: #ddd
	}
	ul {
		list-style-type: none;
		margin: 0
	}
	a {
		color: #aaf;
		&:hover {
			color: #fff
		}
	}
	abbr {
		color: #999
	}
}

/*
Site Info
(below the Site Footer)
*/

.site-info {
	margin: 0;
	padding: 20px;
	color: #666;
	background: #333;
	.medium-4 {
		&:nth-child(1),
		&:nth-child(2) {
			padding-bottom: 0
		}
		@media #{$medium-up} {
			padding-bottom: 0;
			&:first-child {
				text-align: left
			}
			&:last-child {
				text-align: right
			}
		}
	}
}
